# IDEs and Editors
.vscode
.vs

# Binaries and Applcations
**/*.o
**/*.out
**/*.exe
**/*.app
**/*.bin
main
bin
roms

**/log.txt
**/*.nes
out.wav
**/*cachegrind*
**/*annotate*

# Platform-specific files
Thumbs.db
**/._*
.DS_Store